body{
  background-color: #141414;
}

.text-style-movie{
  text-align: justify;
}

.img-detail-movie{
  box-shadow: -1px 3px 16px 0px rgba(0,0,0,0.75);
  border-radius: 10px;

}
@media (min-width: 1024px) and (max-width:1338px){
  .img-detail-movie{      
      height: 500px;
      width: 500px;    
  }
}


@media (min-width: 767px) and (max-width:1023px){
  .img-detail-movie{
    height: 500px;      
  }

}

@media (min-width:1339px) {
  .img-detail-movie{
      height: 500px;
  }
  .text-style-movie{
      margin-top: 10px;
  }
}


.img-detail{
  box-shadow: -1px 3px 16px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
}



@media (min-width: 765px) and (max-width:1023px){
  .img-detail{
    height:  450px;
    margin-top: 20px;
  }

}

@media (min-width: 1024px) and (max-width:1339px){
  .img-detail{
      height: 500px;
      width: 500px;     
     
  }
}

.text-style{
  text-align: justify;
}

@media (min-width:1440px) {
  .img-detail{
      height: 500px;
  }
  .text-style{
      margin-top: 50px;
  }
}

