@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: #141414;
}


/* NAVBAR */

.a-hover:hover{
  opacity: 0.5;
}
.cinema-Rolling-hover:hover{
  transform: scale(1.19);
}

.reloj-style{
  border: 1px solid black;
  border-radius: 5px; 
  text-align: center;
  padding: 5px;  
  color: white;
  border: 1px solid white;
  
}

@media screen and (max-width: 992px) {
  .reloj-style{
    margin-right: 300px;
    width: 25%;
  }
}

.img-transform:hover{
  transform: scale(1.09);
}


.h-title-style{
  color:#e5e5e5;
}

.h-title-style:hover{
  color: white;
  font-weight: bold;
}

/* About Us */

.bcontainerus
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    font-family: 'Poppins', sans-serif;
}

.containerus
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.containerus .cardus
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerus .cardus .contentus
{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    transition: bottom 0.5s;
    transition-delay: 0.8s;
}

.containerus .cardus:hover .contentus
{
    bottom: 0px;
    transition-delay: 0s;
}

.containerus .cardus .contentus .contentBx h3
{
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-20px);
    transition-delay: 0.6s;
}

.containerus .cardus:hover .contentus .contentBx h3
{
    opacity: 1;
    transform: translateY(0px);
}

.containerus .cardus .contentus .contentBx h3 span
{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.containerus .cardus .contentus .sci
{
    position: relative;
    bottom: 10px;
    display: flex;
}

.containerus .cardus .contentus .sci li
{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
}

.containerus .cardus:hover .contentus .sci li
{
    transform: translateY(0px);
    opacity: 1;
}

.containerus .cardus .contentus .sci li a
{
    color: #fff;
    font-size: 24px;
}

.main404{
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: large;
}

.text-white-footer{
  font-size: medium;
  color: white;
  text-decoration: none;
}

.text-primary-footer{
  font-size: smaller;
}